/* Синтаксис
/* @media media-type and (media feature)  */
/*
  * Набор CSS-правил, которые нужно применить к документу,
  * если условие проверки медиатипа и выражения истинно
  */

/* Например, если необходимо сделать фон <body> оранжевым при ширине вьюпорта 900px и шире, необходимо записать следующий медиа-запрос.
  Человеческим языком это можно прочитать как: «если страница отображается на экране, и ширина этого экрана не менее 900 пикселей, необходимо применить указанное CSS-правило». */
/* @media screen and (min-width: 900px) {
  body {
    background-color: orange;
  }
} */

/* Базовый стиль с белым цветом
Цвет green при ширине 600px и шире
Цвет indigo при ширине 900px и шире
Цвет deep orange при ширине 1200px и шире */
/* body {
  background-color: #fff;
}

@media screen and (min-width: 600px) {
  body {
    background-color: #4caf50;
  }
}

@media screen and (min-width: 900px) {
  body {
    background-color: #3f51b5;
  }
}

@media screen and (min-width: 1200px) {
  body {
    background-color: #ff5722;
  }
} */

/* Применится когда ширина вьюпорта меньше чем 600px */
/* @media screen and (max-width: 600px) {
  body {
    background-color: yellow;
  }
} */

/* Применится когда ширина вьюпорта больше чем 900px */
/* @media screen and (min-width: 900px) {
  body {
    background-color: green;
  }
} */

/* Mobile-first CSS
Технически реализация Mobile-first довольно проста - стили для мобильных устройств это базовые стили вне медиа-запросов, после чего, для каждой точки перелома добавялется медиа-запрос в котором переопределяются необходимые базовые стили, стили из предыдущего промежутка или добавляются новые. Поэтому в медиа-запросах, в основном, используется медиа-функция min-width. */

/* Базовые стили */
.element {
}

@media screen and (min-width: ширина-планшета) {
  .element {
    /* Стили планшета */
  }
}

@media screen and (min-width: ширина-десктопа) {
  .element {
    /* Стили десктопа */
  }
}
