li {
  list-style: none;
}
.stretch {
  display: flex;
  justify-content: space-around;
  margin: 10px;
}

#validation-input {
  outline-color: transparent;
  border: 3px solid #bdbdbd;
}

#validation-input.valid {
  border-color: #4caf50;
}

#validation-input.invalid {
  border-color: #f44336;
}
